$corPrincipal: rgb(255, 184, 231);
$corSegundaria: #d94f70;

$breakpoint-mobile: 768px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background-color: $corPrincipal;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 120px;
    background-color: $corSegundaria;

    h1{
        color: white;
        font-family: Pacifico, cursive;
        font-weight: lighter;
        font-size: 48px;
    }

}

    .quadros{

        display: flex;
        max-width: 900px; // define o tamanho máximo que ela ocupa
        width: 100%;      // ocupa 100% até esse limite
        margin: 40px auto; // centraliza horizontalmente e dá espaçamento vertical
        padding: 20px;
        background-color: #fefefe; // opcional, só pra destacar
        border-radius: 8px;        // bordas levemente arredondadas (opcional)
        box-shadow: 0 2px 8px rgba(0,0,0,0.1); // sombra leve (opcional)

        h2{
            font-family: Pacifico, cursive;
            font-weight: normal;
            margin-bottom: 8px;
            color: $corSegundaria;
        }

        img{
            border-radius: 8px;
            max-width: 480px;
            width: 100%;

        }

        .text{
            padding-right: 16px;
        }

    }
    
.gallery{
        &__container{

            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 2vw;
            padding: 0 1vw;
        }


    &__itens{
        width: 340px;
        height: 250px;
        border: 10px solid #fff;
        box-shadow: 5px 5px 5px #0006;
        transition: transform .5s linear;
        
        &:hover{
            transform: scale(1.2);
            
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }    
    }

    footer{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: $corSegundaria;
        font-family: Pacifico, cursive;
        font-weight: lighter;
        margin-top: 60px;
        font-size: 28px;
    }

    @media (max-width: $breakpoint-mobile){
        
        .navbar{
            height: 80px;
            
            h1{
                font-size: 32px;
            }
        }
        
        .quadros{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 350px;
            
            h2{
                font-size: 26px;
            }

            img{
                margin-top: 16px;
                max-width: 300px;
            }
        }
        
        footer{
            height: 60px;
            font-size: 24px;
            font-weight: normal;
        }
    }



